.photo-page {
  > .photo, > .details, {
    display: block;
    width: 100%;
    @media (min-width: 768px) {
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }
  }
  .photo img {
    width: 100%;
  }
  .details {
    padding: 15px;
  }
  .photo-cards-container {
    margin-top: 20px;
  }
}
